body{
    
    background-color: #FBDB65;
}

title{
    color: azure;
    font-family: 'Press Start 2P', cursive;

}


h1{
    font-family: 'Press Start 2P', cursive;
    border-left: thick dotted #CC0088;
    border-bottom-color: rgb(0, 128, 128);
    border-bottom-style: double;
}


h3{
    font-family: 'Libre Baskerville', serif;
}

h4{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}


li{
   
    
    font-family: 'Cormorant Garamond', serif;
    font-style:italic;

}




* {
    max-width: 700px;
    margin: auto;
}


.left {
    height: 1125px;
    width: 45px;
    background-color: pink;
    float: left;

}

.right {
    height: 1125px;
    width: 45px;
    background-color: pink;
    float: right;

}


p{
    font-family: 'Cormorant Garamond', serif;
    
    
    
}




.footer {

    text-align: right;
    font-family: 'Libre Baskerville', serif;
    background-color: pink; 


}

#pic-one{
    height: 30px;
    float:right;
       
    
   
         
    
}



